body{
  font-family: 'Prata', serif;
  margin-top: 5%;
}
li{
  margin-right: 2% ;
}



main{
  padding: 2% 17% 2% 10%;
  background-image: url("../img/building2.jpg");
  background-position: 70vw 0%;
  background-size: 60% auto;
  background-repeat:no-repeat;

}
main span{
  /*background-color: #b3d4fc;*/
  /*padding: 0 3%;*/
  /*text-decoration: underline;*/
  /*text-decoration-color: cornflowerblue;*/
}

.list-group-item.active{
  background-color: white !important;
  color: inherit;
}



main p{
  /*padding-right: 40%;*/
  line-height: 2;
  font-size: 1.3em;
  text-align: left;

}
h4{
  font-size: 1.2em;
  font-weight: bolder;
  color: peru;
}
h1{
  font-size: 3.5em;
}

h2{
  font-size:1em;

}

.navbar-nav{
  width: 100%;
}

#copyright{
  font-size: 0.85em;
}
br{
  margin: 0;
  padding: 0;
}
.vl {
  border-left: 6px solid cornflowerblue;
  height: 10em;

}

.list-group{
  display: inline-block;
  text-align: left;
}

.scroll{
  padding-right: 20%;
}

.info-pane{
  height: 30vw;
  overflow-y: scroll;
  overflow-x: hidden;
}
